<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Novo Aluno - DL Fit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="navbar">
    <div class="navbar-brand">
        <img src="{{ url_for('static', filename='logo-dlfit.jpg') }}" alt="Logo DL Fit">
        <h1>DL Fit Admin</h1>
    </div>
    <div class="navbar-links">
        <a href="{{ url_for('alunos') }}">Alunos</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
    </div>
</div>

<div class="form-box">
    <h1 class="section-title">Novo Aluno</h1>
    <p class="subtitulo">Cadastro completo de aluno</p>
    <form method="POST">
        <input type="text" name="nome" placeholder="Nome do aluno" required>
        <input type="text" name="telefone" placeholder="Telefone" required>
        <label>Plano:</label>
        <select name="plano">
            <option value="LIGHT">light</option>
            <option value="BASICO">básico</option>
            <option value="CLUBE">clube</option>
            <option value="MENSAL">mensal</option>
            <option value="TRIMESTRAL">trimestral</option>
            <option value="SEMESTRAL">semestral</option>
            <option value="LIVRE">livre</option>
            <option value="GYMPASS">gympass</option>
        </select>
        <label>Data de nascimento:</label>
        <input type="date" name="data_nascimento" required>
        <label>Data de início:</label>
        <input type="date" name="data_inicio">
        <label>Quantidade total de aulas:</label>
        <input type="number" name="aulas_contratadas" placeholder="Ex: 4, 12 ou deixe vazio para padrão">
        <label>Data de vencimento:</label>
        <input type="date" name="vencimento" required>
        <label>Frequência:</label>
        <select name="frequencia">
        <option value="">Selecione</option>
        <option value="1x_semana">1x por semana</option>
        <option value="2x_semana">2x por semana</option>
        <option value="3x_semana">3x por semana</option>
        <option value="4x_semana">4x por semana</option>
        <option value="5x_semana">5x por semana</option>
        <option value="1x_dia">1x por dia</option>
        <option value="2x_dia">2x por dia</option>
        </select>
        <label>Status do pagamento:</label>
        <select name="status_pagamento" required>
            <option value="Pago">Pago</option>
            <option value="Pendente">Pendente</option>
            <option value="Atrasado">Atrasado</option>
        </select>
        <textarea name="observacao" placeholder="Observações"></textarea>
        <button type="submit">Salvar Aluno</button>
    </form>
    <div class="footer-actions">
        <a href="{{ url_for('alunos') }}" class="btn-voltar">Voltar</a>
    </div>
</div>
</body>
</html>
